h1 {
    text-align: center;
}
body {
    padding: 20px;
    background-color: #ADD8E6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE4B5;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

button[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="button"]:hover {
    opacity: 0.8;
}